@import 'tailwindcss';
@import "flowbite/src/themes/default";
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';
@source "../../node_modules/flowbite";

@plugin "flowbite/plugin";

@theme {
    --font-sans: 'Poppins', ui-sans-serif, system-ui, sans-serif;
    --font-potta: 'Potta One';
    --color-vibrant-primary: #CCCCCC;
    --color-vibrant-tertiary: #EDEDED;
    --color-secondary-main: #F97316;
    --color-dark-primary: #0A0A0A;
    --color-dark-secondary: #141414;

}

.potta-one-regular {
  font-family: "Potta One", system-ui;
  font-weight: 400;
  font-style: normal;
}

.animated-bg {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}
.animated-bg::before,
.animated-bg::after {
    content: "";
    position: absolute;
    width: 260px; 
    height: 260px; 
    border-radius: 50%;
    filter: blur(10px);
    opacity: 0.55;
    animation: blobMove 12s infinite ease-in-out;
}

/* Blob kiri atas */
.animated-bg::before {
    background: rgb(253, 227, 0);
    top: -40px;
    left: -80px;
}

/* Blob kiri tengah/bawah */
.animated-bg::after {
    background: rgba(255, 0, 0, 0.9);
    bottom: 0px;
    left: -10px;
    animation-delay: 3s;
}

@keyframes blobMove {
    0%   { transform: translate(0, 0) scale(1); }
    33%  { transform: translate(20px, -10px) scale(1.1); }
    66%  { transform: translate(-10px, 20px) scale(0.95); }
    100% { transform: translate(0, 0) scale(1); }
}