@import 'tailwindcss';
@import "flowbite/src/themes/default";
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';
@source "../../node_modules/flowbite";

@plugin "flowbite/plugin";

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
    --color-vibrant-primary: #CCCCCC;
    --color-vibrant-tertiary: #EDEDED;
    --color-secondary-main: #F97316;
    --color-bg-dark: #0A0A0A;

}

.potta-one-regular {
  font-family: "Potta One", system-ui;
  font-weight: 400;
  font-style: normal;
}
