@import 'tailwindcss';
@import "flowbite/src/themes/default";
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';
@source "../../node_modules/flowbite";

@plugin "flowbite/plugin";

@theme {
    --font-sans: 'Poppins', ui-sans-serif, system-ui, sans-serif;
    --font-potta: 'Potta One';
    --color-vibrant-primary: #CCCCCC;
    --color-vibrant-tertiary: #EDEDED;
    --color-secondary-main: #F97316;
    --color-dark-primary: #0A0A0A;
    --color-dark-secondary: #141414;

}